/*инпут*/
.enter-card__email-input {
    @extend %Body;
    height: 4.4rem;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    box-sizing: border-box;
    padding-left: 1.3rem;
    margin-bottom: 1rem;
}

/*плэйсхолдер*/
.enter-card__email-input::-webkit-input-placeholder {
    /* Chrome */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

/*плэйсхолдер*/
.enter-card__email-input:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

/*плэйсхолдер*/
.enter-card__email-input:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 1.8rem;
    color: rgba(31, 32, 65, 0.25);
}

/*инпут ховер*/
.enter-card__email-input:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

/*плэйсхолдер при инпут ховер*/
.enter-card__email-input:hover::-webkit-input-placeholder {
    /* Chrome */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут ховер*/
.enter-card__email-input:hover:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут ховер*/
.enter-card__email-input:hover:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

/*инпут фокус*/
.enter-card__email-input:focus {
    border: 1px solid rgba(31, 32, 65, 0.75);
    outline: 0;
}

/*плэйсхолдер при инпут фокус*/
.enter-card__email-input:focus::-webkit-input-placeholder {
    /* Chrome */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут фокус*/
.enter-card__email-input:focus:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут фокус*/
.enter-card__email-input:focus:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 2.4rem;
    color: rgba(31, 32, 65, 0.75);
}
