include ../calendar/calendar

div(class="datefield")
    span(class="datefield__value") 19 авг - 23 авг
    span(class="datefield__arrow") keyboard_arrow_down
    +calendar(class="datefield__calendar" data-offset="25" data-date-format='d M')