@import "../../theme/variables.css";

.datefield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.29em;
    width: 100%;
/*    padding-left: 0.71em;*/
    cursor: pointer;
}

.datefield__arrow {
    @extend %material-icon;
    width: 1.71em;
    height: 1.71em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(31, 32, 65, 0.5);
}

.datefield__calendar {
    display: none;
}

.datefield__value {
    display: block;
    padding-left: 0.71em;
    text-transform: lowercase;
}