@import "./_expanded/dropdown_expanded.css";
@import "./_active/dropdown__refresh_active.css";

/*Основные цвета, шрифты*/
$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$purpleGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$greenGrad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

%H1 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Open Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 1.5em;
    color: #1F2041;
    letter-spacing: normal;
    font-size: 2.4em;
}

%H2 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 1.9em;
    line-height: 2.4em;
    color: #1F2041;
}

%H3 {
    padding: 0;
    margin: 0 0 0.5em 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #1F2041;
    text-transform: uppercase;
}

%Body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

%nav {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.7em;
    color: rgba(31, 32, 65, 0.5);
}

%mp {
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

%material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4em;
    line-height: 2.4em;
    /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*блок элемента*/
.dropdown {
    font-size: 0.625rem;
    width: 100%;
    user-select: none;
    position: relative;
}

/*блок с названием поля*/
.drop-guests__label {
    @extend %H3;
}

/*блок с переключателем выпадающего меню*/
.dropdown__switcher {
    @extend %Body;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.4em;
    width: 100%;
    padding-left: 1.4em;
    cursor: pointer;
}

/*стрелка вниз*/
.dropdown__arrow {
    @extend %material-icon;
    color: rgba(31, 32, 65, 0.5);
    width: 2em;
    height: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown__inputs {
    display: none;
    width: 100%;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border: 1px solid rgba(31, 32, 65, 0.5);
    padding: 1rem;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border-collapse: collapse;
}

.dropdown__input {
    @extend %H3;
}

.dropdown__plus, .dropdown__minus {
    cursor: pointer;
}

.dropdown__refresh {
    cursor: pointer;
    display: none;
    color: rgba(31, 32, 65, 0.5);
}

.dropdown__submit {
    cursor: pointer;
    color: #BC9CFF;
}