extends ../base/base



block title
  | Room-details

block main
    .room-details
        include ../../components/info-card/info-card.pug  
        .room-info
            h2 Сведения о номере
        .room-impressions
            h2 Впечатления от номера
        .comments
            h2 Отзвывы посетителей номера
        .bullet-list
            h2 Правила
        .canseling
            h2 Отмена