.room-details {
    display: grid;
    grid-template-areas: 
        "info impressions card"
        "comments comments card"
        "rules canseling card";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.info-card{
    grid-area: card;
}

.room-details__info{
    grid-area: info;
}

.room-details__impressions{
    grid-area: impressions;
}

.room-details__comments{
    grid-area: comments;
}

.bullet-list{
    grid-area: rules;
}

.room-details__canseling{
    grid-area: canseling;
}

.bullet-list {
    width: 29.2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bullet-list__ul {
    padding: 0;
}

.votes {
    align-self: flex-end;
}

.room-details__comments-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}