extends ../base/base
include ../../components/text-with-picture/text-with-picture
include ../../components/li/li

block title
  | Room-details

block main
    .room-pictures
        img(class="room-pictures__img1" alt="picture1" src="images/room888.jpg")
        img(class="room-pictures__img2" alt="picture1" src="images/sub1Room888.jpg")
        img(class="room-pictures__img3" alt="picture1" src="images/sub2Room888.jpg")
    .room-details
        include ../../components/info-card/info-card.pug  
        .room-details__info
            h2 Сведения о номере
            +textWithPicture('tag_faces', 'Комфорт', 'Шумопоглощающие стены')(class="text-with-picture_border-bottom")
            +textWithPicture('location_city', 'Удобство', 'Окно в каждой из спален')
        .room-details__impressions
            h2 Впечатления от номера
            +layout__container()
                include ../../components/diagram/diagram.pug
                ul(class="room-detailes__votes")
                    +li('Великолепно')(class="room-detail__li-best")
                    +li('Хорошо')(class="room-detail__li-good")
                    +li('Удовлетворительно')(class="room-detail__li-satisfied")
                    +li('Разочарован')(class="room-detail__li-bad")
        .room-details__comments
            div(class="room-details__comments-header")
                h2 Отзвывы посетителей номера
                span(class="room-details__comments-amount")
        .bullet-list
            h2 Правила
            ul(class="bullet-list__ul")
                +li('Время прибытия &mdash; после 13:00, а выезд до 12:00')
        .room-details__canseling
            h2 Отмена
            p.
                Бесплатная отмена в течении 48ч. После 
                этого при отмене не позднее чем за 5дн. до 
                прибытия вы получите полный возврат зы 
                вычетом сбора за услуги.