div(class="filter")
    include ./__date/filter__date.pug
    include ./__guests/filter__guests.pug
    include ./__range/filter__range.pug
    include ./__checkbox/filter__checkbox.pug
    include ./__rich-checkbox/filter__rich-checkbox.pug
    include ./__beds/filter__beds.pug
    include ./__expandable-checkbox/filter__expandable-checkbox.pug