//-навигационное меню хедера
nav(class="header__nav")
    a(class="header__nav-link header__nav-link_activated" href="#") О нас
    div(class="header__services-menu") Услуги
        span(class="header__services-arrow-down") keyboard_arrow_down
    a(class="header__nav-link" href="#") Вакансии
    a(class="header__nav-link"  href="#") Новости
    div(class="header__agreements-menu") Соглашения
        span(class="header__agreements-arrow-down") keyboard_arrow_down