//-кнопка со стрелкой
button(class="registration-card__button-with-arrow registration-card__button-with-arrow_theme_one") 
    span(class="registration-card__button-with-arrow-label") Перейти к оплате
    span(class="registration-card__button-arrow" type="button") arrow_forward