//-поле инпут со стрелкой
form(class="footer__subscription" name="footer__form")
    input(class="footer__input" type="email" placeholder="Email")
    
    div(class="footer__arrow-wrapper")
        button(class="footer__arrow" name="footer__subscription" type="submit") arrow_forward