@import "../../theme/variables.css";

/*главный блок*/
.info-card {
    width: 27em;
    height: 36.3em;
    padding: 2.7em 2.14em 2.14em 2.07em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 2.5em rgba(0, 0, 0, 0.2);
    border-radius: 0.29em;
    
    .drop-dates {
        margin-bottom: 1.48em;
    }
    
    .dropdown {
        margin: 0.33em 0 1.3em 0;
    }
    
    .arrow-btn {
        margin-top: 1.45em;
        
        h3 {
            margin-top: -0.5em; 
        }
    }
}

/*блок элемента*/
.info-card__about-room {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1.25em;
}

/*значок №*/
.info-card__badge-number {
    @extend %nav;
    font-weight: bold;
    color: #1F2041;
}

/*номер комнаты*/
.info-card__room-number {
    @extend %H1;
}

/*категория комнаты (люкс)*/
.info-card__room-category {
    @extend %H3;
    color: #BC9CFF;
}

/*цена*/
.info-card__money-for-room {
    @extend %nav;
    font-weight: bold;
}

/*за какое время (сутки)*/
.info-card__time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 0.86em;
    line-height: 1.29em;
    color: rgba(31, 32, 65, 0.5);
}
