/*блок элемента*/
.header__authentication {
    margin-left: 2.2rem;
}

/*имя пользователя*/
.header__user-name {
    display: none;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding: 0.7rem 0 0.7rem 2rem;
}

/*кнопка войти*/
.header__enter {
    @extend %H3;
    width: 8.5rem;
    height: 3.4rem;
    background-color: #FFFFFF;
    border-radius: 2.2rem;
    color: #BC9CFF;
    border: 2px solid #BC9CFF;
    cursor: pointer;
    outline: 0;
    margin-top: 0.5rem;
}

/*кнопка зарегистрироваться*/
.header__registration {
    @extend %H3;
    width: 19.6rem;
    height: 3.4rem;
    margin-left: 1.7rem;
    border-radius: 2.2rem;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    outline: 0;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
