div(class="filter__expandable-checkbox")
    div(class="filter__expandable-checkbox-switcher")
        h3(class="filter__expandable-checkbox-label") дополнительные удобства
        span(class="filter__expandable-checkbox-arrow") keyboard_arrow_down
            
    div(class="filter__expandable-checkbox-checkboxes")
        +checkbox('Завтрак')
        +checkbox('Письменный стол', 'checked')
        +checkbox('Стул для кормления', 'checked')
        +checkbox('Кроватка', 'checked')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
    