@import "../../../theme/variables.css";

.filter__expandable-checkbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    user-select: none;
    padding: 0 0.7em 0 0;
}

.filter__expandable-checkbox-label {
    @extend %H3;
}

.filter__expandable-checkbox-switcher {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 0.6em;
}

.filter__expandable-checkbox-checkboxes {
    display: none;
}

.filter__expandable-checkbox-arrow {
    @extend %material-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(31, 32, 65, 0.5);
    padding-bottom: 0.2em;
}
