/*блок кнопки со стрелкой*/
.search-room-card__button-with-arrow {
    @extend %H3;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.5rem 0 0;
}

/*Блок названия кнопки со стрелкой*/
.search-room-card__button-with-arrow-label {
    width: 100%;
}

/*Стрелка*/
.search-room-card__button-arrow {
    @extend %material-icon;
    position: absolute;
    left: 89.7%;
}