div(class="filter__date")
    h3(class="filter__date-label") даты пребывания в отеле
    div(class="filter__date-dropdown")
        div(class="filter__date-switcher")
            span 19 авг - 23 авг
            span(class="filter__date-arrow") keyboard_arrow_down
        