@import "../../theme/variables.css";

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 31.6em;

    @media screen and (max-width: 767px) {
        display: none;
        width: 50%;
        min-width: 230px;
        position: absolute;
        top: 5em;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        flex-direction: column;
        align-items: center;
        padding: 25px;
        
        .menu__extra-item {
            display: flex !important;
        }
    }
}

.menu__item {
    @extend %nav;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        display: flex;
        justify-content: center;
        border: 1px solid #fff;
        width: 100%;
        padding: 5px 0 5px 0;
        margin-bottom: 10px;
        color: #fff;
    }
}

.menu__extra-item {
    display: none !important;
}

.menu__item:hover {
    color: rgba(31, 32, 65, 0.75);
    @media screen and (max-width: 767px) {
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);   
    }
}

.menu__arrow {
    @extend %material-icon;
    margin-top: 0.18em;
    @media screen and (max-width: 767px) {
        display: none;   
    }
}

.menu__button {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
        width: 35px;
        height: 24px;
        cursor: pointer;

        span {
            display: block;
            height: 6px;
            width: 100%;
            background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
            border-radius: 9px;
        }

        span:nth-child(2) {
            margin-top: 3px;
        }

        span:nth-child(3) {
            margin-top: 3px;
        }
    }
}
