@import "../../theme/variables.css";

/*блок элемента*/
.arrow-inpt {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.29em;
    box-sizing: border-box;
    padding-left: 1em;
    width: 18.5em;
    height: 3.14em;

    &:hover {
        border-color: rgba(31, 32, 65, 0.75);
    }
}

/*текстовый инппут*/
.arrow-inpt__field {
    @extend %Body;
    border: 0;
    outline: 0;
}

/*webkit плейсхолдер текстового инпута*/
.arrow-inpt__field::-webkit-input-placeholder {
    /* Chrome */
    line-height: 1.29em;
    color: rgba(31, 32, 65, 0.25);
}

/*ie плейсхолдер текстового инпута*/
.arrow-inpt__field:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 1.29em;
    color: rgba(31, 32, 65, 0.25);
}

/*mozila плейсхолдер текстового инпута*/
.arrow-inpt__field:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 1.29em;
    color: rgba(31, 32, 65, 0.25);
}

/*обёртка стрелки*/
.arrow-inpt__arrow-wrapper {
    width: 3.14em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*стрелка*/
.arrow-inpt__arrow {
    @extend %material-icon;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.arrow-inpt_focus_on {
    border-color: rgba(31, 32, 65, 0.75);

    .arrow-inpt__field::-webkit-input-placeholder {
        line-height: 2.4em;
        color: rgba(31, 32, 65, 0.75);
    }

    .arrow-inpt__field:-ms-input-placeholder {
        line-height: 2.4em;
        color: rgba(31, 32, 65, 0.75);
    }

    .arrow-inpt__field:-moz-input-placeholder {
        line-height: 2.4em;
        color: rgba(31, 32, 65, 0.75);
    }
}
