mixin arrowInpt(name)

    //-поле инпут со стрелкой
    form(class="arrow-inpt")
        input(class="arrow-inpt__field" type="email" placeholder="Email" name=name)

        div(class="arrow-inpt__arrow-wrapper")
            button(class="arrow-inpt__arrow" type="submit") arrow_forward