//-ссылки на соц. сети
div(class="footer__icons")
    a(href="https://twitter.com/?lang=ru" target="_blank" class="footer__twitter fab fa-twitter")
    a(href="https://ru-ru.facebook.com" target="_blank" class="footer__facebook fab fa-facebook-square")
    a(href="https://www.instagram.com/?hl=ru" target="_blank" class="footer__instagram fab fa-instagram")