//-Поле для количества гостей с выпадающем меню
div(class="search-room-card__dropdown-guests-field")
    h3(class="search-room-card__dropdown-guests-field-label") Гости
    div(class="search-room-card__dropdown-guests")
        div(class="search-room-card__dropdown-guests-switcher")
            span Сколько гостей
            div(class="search-room-card__dropdown-guests-arrow-wrapper")
                span(class="search-room-card__dropdown-guests-arrow") keyboard_arrow_down
        //-Выпадающее меню        
        div(class="search-room-card__dropdown-guests-inputs")
            //-Элемент меню для количества взрослых
            div(class="search-room-card__dropdown-guests-input")
                span(class="search-room-card__dropdown-guests-input-label") Взрослые
                div(class="search-room-card__dropdown-guests-minus-wrapper")
                    span -
                span(class="search-room-card__dropdown-guests-number") 0
                input(class="search-room-card__dropdown-guests-input-hidden" type="number" value="0")
                div(class="search-room-card__dropdown-guests-plus-wrapper")
                    span +
            
            //-Элемент меню для количества детей
            div(class="search-room-card__dropdown-guests-input")
                span(class="search-room-card__dropdown-guests-input-label") Дети
                div(class="search-room-card__dropdown-guests-minus-wrapper")
                    span -
                span(class="search-room-card__dropdown-guests-number") 0
                input(class="search-room-card__dropdown-guests-input-hidden" type="number" value="0")
                div(class="search-room-card__dropdown-guests-plus-wrapper")
                    span +
                   
            //-Элемент меню для количества младенцев
            div(class="search-room-card__dropdown-guests-input")
                span(class="search-room-card__dropdown-guests-input-label") Младенцы
                div(class="search-room-card__dropdown-guests-minus-wrapper")
                    span -
                span(class="search-room-card__dropdown-guests-number") 0
                input(class="search-room-card__dropdown-guests-input-hidden" type="number" value="0")
                div(class="search-room-card__dropdown-guests-plus-wrapper")
                    span +
            
            //-Кнопки очистить/применить
            div(class="search-room-card__dropdown-guests-buttons")
                div(class="search-room-card__dropdown-guests-refresh ") Очистить
                div(class="search-room-card__dropdown-guests-submit") Применить
        