div(class="registration-card__masked-text-field")
    h3(class="registration-card__masked-text-field-label") дата рождения
    input(class="registration-card__masked-input" type="text" placeholder="ДД.ММ.ГГГГ")