.filter__expandable-checkbox {
    @extend %Body;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    user-select: none;
}

.filter-expandable-checkbox-form {
    display: none;
}

.filter__expandable-checkbox-label {
    @extend %H3;
}

.filter__expandable-checkbox-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.filter__expandable-checkbox-checkboxes {
    display: none;
}

.filter__expandable-checkbox-arrow {
    @extend %material-icon;
    width: 4.4rem;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(31, 32, 65, 0.5);
}



.filter__expandable-checkbox-breakfast, .filter__expandable-checkbox-table, .filter__expandable-checkbox-chair, .filter__expandable-checkbox-bed, .filter__expandable-checkbox-tv, .filter__expandable-checkbox-shampoo {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
}

.filter__expandable-checkbox-box {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    flex-shrink: 0;
}

.filter__expandable-checkbox-checker {
    width: 0.6rem;
    height: 0.4rem;
    border-left: 0.2rem solid;
    border-bottom: 0.2rem solid;
    border-image: linear-gradient(180deg, #BC9CFF, #8BA4F9) 0 100%;
    border-image-slice: 1;
    transform: rotate(315deg);
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: none;
}

