div(class="filter__expandable-checkbox")
    form(class="filter-expandable-checkbox-form" name="filterExpandableCheckboxForm")
        input(type="checkbox" name="filterExpandableCheckboxBreakfast")
        input(type="checkbox" name="filterExpandableCheckboxTable")
        input(type="checkbox" name="filterExpandableCheckboxChair")
        input(type="checkbox" name="filterExpandableCheckboxBed")
        input(type="checkbox" name="filterExpandableCheckboxTv")
        input(type="checkbox" name="filterExpandableCheckboxShampoo")

    div(class="filter__expandable-checkbox-switcher")
        h3(class="filter__expandable-checkbox-label") дополнительные удобства
        span(class="filter__expandable-checkbox-arrow") keyboard_arrow_down
            
    div(class="filter__expandable-checkbox-checkboxes filter__guests_expanded")
        div(class="filter__expandable-checkbox-breakfast")
            div(class="filter__expandable-checkbox-box")
                div(class="filter__expandable-checkbox-checker")
            span Завтрак
           
        div(class="filter__expandable-checkbox-table")
            div(class="filter__expandable-checkbox-box filter_checked")
                div(class="filter__expandable-checkbox-checker")
            span Письменный стол
            
        div(class="filter__expandable-checkbox-chair")
            div(class="filter__expandable-checkbox-box filter_checked")
                div(class="filter__expandable-checkbox-checker")
            span Стул для кормления
            
        div(class="filter__expandable-checkbox-bed")
            div(class="filter__expandable-checkbox-box filter_checked")
                div(class="filter__expandable-checkbox-checker")
            span Кроватка
        
        div(class="filter__expandable-checkbox-tv")
            div(class="filter__expandable-checkbox-box")
                div(class="filter__expandable-checkbox-checker")
            span Телевизор
            
        div(class="filter__expandable-checkbox-shampoo")
            div(class="filter__expandable-checkbox-box")
                div(class="filter__expandable-checkbox-checker")
            span Шампунь
    