div(class="filter__beds")
    h3(class="filter__beds-label") удобства номера
    div(class="filter__dropdown-beds")
        div(class="filter__beds-switcher")
            span 2 спальни, 2 кровати...
            span(class="filter__beds-arrow") keyboard_arrow_down
        div(class="filter__beds-inputs")
            div(class="filter__beds-input")
                span(class="filter__beds-input-label") Спальни
                span(class="filter__beds-minus") -
                span(class="filter__beds-number") 0
                span(class="filter__beds-plus") +
                
            div(class="filter__beds-input")
                span(class="filter__beds-input-label") Кровати
                span(class="filter__beds-minus") -
                span(class="filter__beds-number") 0
                span(class="filter__beds-plus") +
                
            div(class="filter__beds-input")
                span(class="filter__beds-input-label") Ванные комнаты
                span(class="filter__beds-minus") -
                span(class="filter__beds-number") 0
                span(class="filter__beds-plus") +
        