.filter__checkbox {
    @extend %Body;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
}

.filter__checkbox-form {
    display: none;
}

.filter__checkbox-label {
    @extend %H3;
}


.filter__checkbox-smoke,  .filter__checkbox-pets, .filter__checkbox-guests {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
}

.filter__checkbox-box {
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4rem;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    flex-shrink: 0;
}

.filter__checkbox-checker {
    width: 0.6rem;
    height: 0.4rem;
    border-left: 0.2rem solid;
    border-bottom: 0.2rem solid;
    border-image: linear-gradient(180deg, #BC9CFF, #8BA4F9) 0 100%;
    border-image-slice: 1;
    transform: rotate(315deg);
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    display: none;
}
