//-навигационное меню хедера
nav(class="header__nav")
    a(class="header__link header__link_activated" href="#") О нас
    div(class="header__services") Услуги
        span(class="header__services-arrow") keyboard_arrow_down
    a(class="header__link" href="#") Вакансии
    a(class="header__link"  href="#") Новости
    div(class="header__agreements") Соглашения
        span(class="header__agreements-arrow") keyboard_arrow_down