mixin rate
    div(class="rate")&attributes(attributes)
        span(class="rate__star1")
        span(class="rate__star2")
        span(class="rate__star3")
        span(class="rate__star4")
        span(class="rate__star5")