@import "./_checked/rich-checkbox_checked.css";

.rich-checkbox {
    cursor: pointer;
    user-select: none;
}

.rich-checkbox__box {
    margin-right: 0.4em;
    width: 1.43em;
    height: 1.43em;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.29em;
    position: relative;
}

.rich-checkbox__checker {
    width: 0.49em;
    height: 0.35em;
    border-left: 0.2em solid;
    border-bottom: 0.2em solid;
    border-image: linear-gradient(180deg, #BC9CFF, #8BA4F9) 0 100%;
    border-image-slice: 1;
    transform: rotate(315deg);
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    display: none;
}

.rich-checkbox__label {
    font-weight: bold;
}

.rich-checkbox__description {
    font-size: 0.86em/1.23em;
    color: rgba(31, 32, 65, 0.5);
}


.rich-checkbox__input {
    display: none;
}
