include ../arrow-btn/arrow-btn
include ../button/button
include ../inpt/inpt
include ../toggle/toggle
include ../masked-inpt/masked-inpt
include ../radio/radio

//-Главный блок
.registration-card
    h1 Регистрация аккаунта
    form(enctype="multipart/form-data" method="GET")
        +inpt(type="text" placeholder="Имя" name="name")
        +inpt(type="text" placeholder="Фамилия"  name="surname")
        .registration-card__radio-buttons
            +radio('Мужчина', 'checked', 'sex')
            +radio('Женщина', '', 'sex')
        h3 дата рождения
        +maskedInpt(type="text" placeholder="ДД.ММ.ГГГГ" name="birth")
        h3 данные для входа в сервис
        +inpt(type="email" placeholder="Email" name="reg_email")
        +inpt(type="password" placeholder="Пароль"  name="reg_password")
        .registration-card__special-offers
            +toggle('special_offers')
            span(class="registration-card__toggle-span") Получать спецпредложения
        +arrowBtn('зарегистрироваться')(type="submit")
    .registration-card__create
        span(class="registration-card__create-span") Уже есть аккаунт на Toxin
        +button('войти', '/signin.html')(class="button_theme_enter button_size_m")