.logo {
    display: flex;
    cursor: pointer;
    align-items: center;

    .logo__circle {
        width: 2.86em;
        height: 2.86em;
    }

    .logo__toxin {
        width: 3.86em;
        height: 0.93em;
        margin-left: 0.79em;
        margin-bottom: 0.3em;
    }
}
