.logo {
  display: flex;
  margin-right: auto;
  cursor: pointer;
  font-size: 0.625rem;
  align-items: center;

  .logo__circle {
    width: 4em;
    height: 4em;
  }

  .logo__toxin {
    width: 5.4em;
    height: 1.3em;
    margin-left: 1.1em;
  }
}
