//-радио мужчина/женщина
div(class="registration-card__radio-sex")
    //-радио мужчина
    div(class="registration-card__radio-sex-man-wrapper registration-card__radio-sex_checked")
        div(class="registration-card__radio-sex-man-input")
            div(class="registration-card__radio-sex-man-checker")
        span(class="registration-card__radio-sex-man-label") Мужчина
        
    //-радио женщина
    div(class="registration-card__radio-sex-woman-wrapper")
        div(class="registration-card__radio-sex-woman-input")
            div(class="registration-card__radio-sex-woman-checker")
        span(class="registration-card__radio-sex-woman-label") Женщина