//-поля прибытия/выезда
div(class="search-room-card__dates")
    //-поле даты прибытия
    div(class="search-room-card__arrival")
        h3(class="search-room-card__arrival-label") Прибытие
        div(class="search-room-card__arrival-switcher")
            span ДД.ММ.ГГГГ
            div(class="search-room-card__arrival-arrow-wrapper")
                span(class="search-room-card__arrival-arrow") keyboard_arrow_down
    //-поле даты выезда           
    div(class="search-room-card__departure")
        h3(class="search-room-card__departure-label") Выезд
        div(class="search-room-card__departure-switcher")
            span ДД.ММ.ГГГГ
            div(class="search-room-card__departure-arrow-wrapper")
                span(class="search-room-card__departure-arrow") keyboard_arrow_down
        