//-кнопка со стрелкой
button(class="enter-card__button-with-arrow enter-card__button-with-arrow_theme_one") 
    span(class="enter-card__button-with-arrow-label") Войти
    span(class="enter-card__button-arrow" type="button") arrow_forward