.comment
    .comment__author-avatar
    .comment__author-info
        span(class="comment__author-name") Мурад
        span(class="comment__author-surname")  Сарафанов
        br
        span 5 дней назад
    include ../like/like.pug
    div(class="comment__text") Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару &mdash; никто не жаловался из соседей.