extends ../base/base


block title
  | Toxin

block main
  .content-index
    include ../../components/search-room-card/search-room-card.pug
    span(class="content__span") Лучшие номера для вашей работы, отдыха и просто вдохновения