@import "../../theme/variables.css";

.content-index {
    position: relative;
}

.content-index__span {
    width: 21.21em;
    height: 3.43em;
    text-align: right;
    position: absolute;
    top: 92.3%;
    right: 9.3%;
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.content-index .search-room-card {
    @media screen and (min-width: 768px) {
        display: block;
        position: absolute;
        top: 15.6%;
        left: 9.7%;
    }
    @media screen and (max-width: 767px) {
        margin-top: 5em; 
    }
}

.content-index__img {
    width: 100%;
    height: auto;
    display: block;
    @media screen and (max-width: 767px) {
        display: none;
    }
}
