include ../checkbox/checkbox
include ../rich-checkbox/rich-checkbox

div(class="filter")
    include ./__date/filter__date.pug
    include ../drop-guests/drop-guests.pug
    include ./__range/filter__range.pug
    div(class="filter__checkbox")
        h3(class="filter__checkbox-label") Сheckbox buttons
        +checkbox('Можно курить')
        +checkbox('Можно с питомцами', 'checked')
        +checkbox('Можно пригласить гостей (до 10 человек)', 'checked')
    div(class="filter__rich-checkbox")
        h3(class="filter__rich-checkbox-label") доступность
        +richCheckbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
        +richCheckbox('Помощник для инвалидов', 'На первом этаже вас встретит специалист и проводит до номера.')
    include ../drop-beds/drop-beds.pug
    include ./__expandable-checkbox/filter__expandable-checkbox.pug