@import "./__expandable-checkbox/filter__expandable-checkbox.css";
@import "./_expanded/filter__expandable-checkbox_expanded.css";

.filter {
    display: flex;
    padding: 2.1em 9.95em 0 9.9em;

    h3 {
        margin: 0 0 0.5em 0;
    }

    .datefield {
        margin: 0 0 1.52em 0;
    }
    
    .dropdown {
        margin: 0 0 1.52em 0;
    }
    
    .slider {
        margin: 0 0 1.52em 0;
    }

    .filter__guests {
        align-items: flex-start;
    }

    .filter__home-rules {
        margin-bottom: 1.36em;
    }

    .filter__availability {
        margin: 2.6em 0 1em 0;
    }

    .filter__convenience {
        margin-top: 2.4em;
    }

    .checkbox {
        width: 17em;
        margin-bottom: 0.75em;
    }

    .rich-checkbox {
        margin-bottom: 0.3em;
    }

    .filter__expandable-checkbox {
        margin-top: 1.7em;

        .checkbox {
            margin-bottom: 0.7em;
        }
    }

    .drop-conveniences {
        .dropdown__btns {
            display: none;
        }

        .dropdown__wrapper {
            padding-bottom: 0.56em;
        }
    }
}

.filter__screen {
    width: auto;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 4.3em;
}

.filter__screen-header {
    margin-bottom: 0.85em;
}

.filter__pagination-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 19.2em 19.2em 19.2em;
    justify-content: space-between;
    grid-template-areas: "empty1 pagination empty2";

    .filter__empty1 {
        grid-area: empty1;
    }

    .filter__empty2 {
        grid-area: empty2;
    }
}

.pagination {
    width: 20em;
    margin: 3.4em 0 0 0.52em;
    grid-area: pagination;
}

.filter__responsive-inputs {
    display: none;
}

.filter__result {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    grid-row-gap: 1.44em;
    justify-content: space-between;
    transition: margin 0.3s;
}

@media screen and (max-width: 575px) {
    .filter {
        flex-direction: column;
        padding: 0 2.14em 0.5em 2.05em;
    }

    .filter__screen-header {
        display: none;
    }

    .filter__responsive-inputs {
        cursor: pointer;
        margin: 0 0 1em -2.05em;
        padding: 0.5em 2.14em 0.5em 2.05em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        border-top: 1px solid rgba(31, 32, 65, 0.1);
        background-image: $greenGrad;
        width: 100vw;
    }

    .filter__arrow {
        @extend %material-icon;
        font-size: 40px;
    }

    .filter__inputs {
        flex-shrink: 0;
        display: none;
    }

    h1 {
        font-size: 18px;
        line-height: 1.1em;
    }

    h3 {
        font-size: 11px;
    }

    .filter__screen {
        width: 100%;
        padding: 0;
    }

    .filter__pagination-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 2em 0 0 0;

        .filter__empty1,
        .filter__empty2 {
            display: none;
        }

        .pagination {
            margin: 0;
            width: 100%;
        }
    }

    .filter__result {
        margin-left: 0 !important;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(12, 1fr);
        justify-content: stretch;
        transition: margin 0.3s;
        flex-direction: column;
    }

    .datepicker {
        width: 30em;
        padding: 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .filter {
        flex-direction: column;
        padding: 0 2.14em 0.5em 2.05em;
    }

    .filter__screen-header {
        display: none;
    }

    .filter__responsive-inputs {
        cursor: pointer;
        margin: 0 0 1em -2.05em;
        padding: 0.5em 2.14em 0.5em 2.05em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(31, 32, 65, 0.1);
        border-top: 1px solid rgba(31, 32, 65, 0.1);
        background-image: $greenGrad;
        width: 100vw;
    }

    .filter__arrow {
        @extend %material-icon;
        font-size: 40px;
    }

    .filter__inputs {
        flex-shrink: 0;
        display: none;
    }

    h1 {
        font-size: 18px;
        line-height: 1.1em;
    }

    h3 {
        font-size: 11px;
    }

    .filter__screen {
        width: 100%;
        padding: 0;
    }

    .filter__pagination-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0;
        margin: 2em 0 0 0;

        .filter__empty1,
        .filter__empty2 {
            display: none;
        }
    }

    .filter__result {
        margin-left: 0 !important;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 1em;
        justify-content: stretch;
        transition: margin 0.3s;
        flex-direction: column;
    }

    .datepicker {
        width: 30em;
        padding: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .filter {
        padding: 2.1em 10px 0.5em 10px;
    }

    .filter__inputs {
        display: block !important;
        font-size: 14px;
        width: 18.88em;
    }

    h1 {
        font-size: 18px;
        line-height: 1.1em;
    }

    h3 {
        font-size: 11px;
    }

    .filter__screen {
        width: 100%;
        padding: 0 0 0 2em;
    }

    .filter__pagination-wrapper {
        font-size: 15px;
        display: flex;
        width: 100%;
        justify-content: center;

        .filter__empty1,
        .filter__empty2 {
            display: none;
        }

        .pagination__arrow-forward,
        .pagination__arrow-back {
            font-size: 26px;
        }
    }

    .filter__result {
        margin-left: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        transition: margin 0.3s;
    }

    .datepicker {
        width: 30em;
        padding: 0;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .filter {
        padding: 2.1em 3em 2em 3em;
    }

    .filter__inputs {
        display: block !important;
        font-size: 14px;
        width: 18.88em;
    }

    .filter__screen {
        width: 100%;
        padding: 0 0 0 2em;
    }

    .filter__pagination-wrapper {
        font-size: 15px;
        display: flex;
        width: 100%;
        justify-content: center;

        .filter__empty1,
        .filter__empty2 {
            display: none;
        }

        .pagination__arrow-forward,
        .pagination__arrow-back {
            font-size: 26px;
        }
    }

    .filter__result {
        margin-left: 0;
        padding: 0;
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        transition: margin 0.3s;
    }

    .datepicker {
        width: 30em;
        padding: 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .filter {
        padding: 2.1em 3em 2em 3em;
    }
    
    .filter__screen {
        width: 100%;
        padding: 0 0 0 2em;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1439px) {
    .filter__screen {
        padding: 0 0 0 2em;
    }
}

@media screen and (min-width: 992px) {
    .filter__inputs {
        display: block !important;
        width: 18.88em;
    }
}
