include ../dropdown/dropdown
include ../checkbox/checkbox
include ../rich-checkbox/rich-checkbox

div(class="filter")
    h3 даты пребывания в отеле
    include ../datefield/datefield.pug
    h3 гости
    +dropdown('Сколько гостей', {'Взрослые': 0, 'Дети' : 0, 'Младенцы' : 0})(class="drop-guests")
    include ./__range/filter__range.pug
    form(class="filter__checkbox")
        h3 Правила дома
        +checkbox('Можно курить')
        +checkbox('Можно с питомцами', 'checked')
        +checkbox('Можно пригласить гостей (до 10 человек)', 'checked')
    form(class="filter__rich-checkbox")
        h3 доступность
        +richCheckbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
        +richCheckbox('Помощник для инвалидов', 'На первом этаже вас встретит специалист и проводит до номера.')
    h3 Удоства номера
    +dropdown('2 спальни, 2 кровати...', {'Спальни': 2, 'Кровати': 2, 'Ванные комнаты': 0})(class="drop-conveniences")
    include ./__expandable-checkbox/filter__expandable-checkbox.pug