@import "./__logo/header__logo.css";
@import "./__nav/header__nav.css";
@import "./__authentication/header__authentication.css";
@import "./_activated/header__nav-link_activated.css";
@import "./_registrated/header__authetication_registrated.css";
@import "./_theme_enter/header__buttons_theme_enter.css";
@import "./_theme_registration/header__buttons_theme_registration.css";



/*главный блок*/
.header {
    @extend %nav;
    height: 7rem;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 14.05rem 0 14.1rem;
}