include ../calendar/calendar

//-поля прибытия/выезда
div(class="drop-dates")
    div(class="drop-dates__droper")
        //-поле даты прибытия
        div(class="drop-dates__arrival")
            h3 Прибытие
            div(class="drop-dates__arrival-switcher")
                span(class="drop-dates__arrival-value") ДД.ММ.ГГГГ
                span(class="drop-dates__arrow") keyboard_arrow_down
        //-поле даты выезда           
        div(class="drop-dates__departure")
            h3 Выезд
            div(class="drop-dates__departure-switcher")
                span(class="drop-dates__departure-value") ДД.ММ.ГГГГ
                span(class="drop-dates__arrow") keyboard_arrow_down
    +calendar(class="drop-dates__calendar" data-offset="-30")
        