//-поля прибытия/выезда
div(class="drop-dates")
    //-поле даты прибытия
    div(class="drop-dates__arrival")
        h3(class="drop-dates__arrival-label") Прибытие
        div(class="drop-dates__arrival-switcher")
            span ДД.ММ.ГГГГ
            span(class="drop-dates__arrow") keyboard_arrow_down
    //-поле даты выезда           
    div(class="drop-dates__departure")
        h3(class="drop-dates__departure-label") Выезд
        div(class="drop-dates__departure-switcher")
            span ДД.ММ.ГГГГ
            span(class="drop-dates__arrow") keyboard_arrow_down
        