@import "../../theme/variables.css";

/*блок элемента*/
.drop-dates__droper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    user-select: none;
    h3 {
        margin: 0 0 0.5em 0;
    }
}

.drop-dates__arrival, .drop-dates__departure {
    width: 47%; 
}

/*блок с переключателем для выпадения календаря*/
.drop-dates__arrival-switcher, .drop-dates__departure-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 0.29em;
    width: 100%;
    padding-left: 1em;
    cursor: pointer;
}

/*стрелка вниз*/
.drop-dates__arrow {
    @extend %material-icon;
    width: 1.7em;
    height: 1.7em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(31, 32, 65, 0.5);
}

.drop-dates__calendar {
    display: none;
}