/*Основные цвета, шрифты*/
$darkShade100: #1F2041;
$darkShade75: rgba(31, 32, 65, 0.75);
$darkShade50: rgba(31, 32, 65, 0.5);
$darkShade25: rgba(31, 32, 65, 0.25);
$darkShade05: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;
$purpleGrad: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$greenGrad: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

%H1 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Open Sans";
    font-style: normal;
    font-weight: bold;
    color: #1F2041;
    letter-spacing: normal;
    font-size: 1.54rem/1.88rem;/*24 30*/
}

%H2 {
    padding: 0;
    margin: 0;
    font-family: "Quicksand", "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 1.19rem/1.5rem;/*19 23*/
    color: #1F2041;
}

%H3 {
    padding: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem/0.94rem;/*12 15*/
    color: #1F2041;
    text-transform: uppercase;
}

%Body {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 0.88rem/1.5rem;/*14 24*/
    color: rgba(31, 32, 65, 0.75);
}

%nav {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 0.88rem/1.06rem;/*14 17*/
    line-height: 1.7rem;
    color: rgba(31, 32, 65, 0.5);
    text-decoration: none;
}

%mp {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

%material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem/1.5rem;
    /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}