/*выпадающее меню с модификатором search-room-card_dropdown-guests-expanded*/
.dropdown_expanded .dropdown__inputs {
    display: table;
}

/*блок с переключателем выпадающего меню с модификатором search-room-card_dropdown-guests-expanded*/
.dropdown_expanded .dropdown__switcher {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*встрелка вниз с модификатором search-room-card_dropdown-guests-expanded*/
.dropdown_expanded .dropdown__arrow {
    color: rgba(31, 32, 65, 0.75);
}