//-Главный блок
div(class="search-room-card")
    h1(class="search-room-card__header") Найдём номера под ваши пожелания
    include ./__dropdown-dates/search-room-card__dropdown-dates.pug
    include ./__dropdown-guests-field/search-room-card__dropdown-guests-field.pug
    include ./__button-with-arrow/search-room-card__button-with-arrow.pug