//-Главный блок
div(class="search-room-card")
    h1(class="search-room-card__header") Найдём номера под ваши пожелания
    include ./__dates/search-room-card__dates.pug
    include ./__guests/search-room-card__guests.pug
    include ./__button/search-room-card__button.pug