@import "./__logo/footer__logo.css";
@import "./__subscription-text-field/footer__subscription-text-field.css";
@import "./__awesome-icons/awesome-icons.css";
@import "./__awesome-icons/footer__awesome-icons.css";
@import "./_size_s/footer_size_s.css";




/*главный блок*/
.footer {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

/*навигационное меню*/
.footer__nav {
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding: 9.9rem 14rem 7.9rem 13.95rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 4.3rem 3.7rem 3.8rem 3.8rem 3.8rem;
    grid-template-areas:
        "logo navHeader aboutUsHeader supportHeader subscribeHeader"
        "best aboutUsLink aboutServiceLink agreementsLink subscribeDescription"
        "best newsLink commandLink communityLink subscribeInput"
        "best supportLink vacanciesLink contactLink subscribeInput"
        "best servicesLink investorsLink contactLink subscribeInput";
    align-items: canter;
}

/*логотип*/
.footer__logo {
    grid-area: logo;
    align-self: start;
    justify-self: start;
}

/*описание отеля по версии ассоциации "Отельные взгляды"*/
.footer__best-hotel {
    grid-area: best;
    @extend %Body;
    margin: 0;
    padding: 1.6rem 2rem 0 0;
}

/*Заголовок Навигация*/
.footer__nav-header {
    grid-area: navHeader;
    @extend %H3;
    padding-top: 0.5rem;
}

/*ссылка О нас*/
.footer__about-us-link {
    grid-area: aboutUsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Новости*/
.footer__news-link {
    grid-area: newsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Служба поддержки*/
.footer__support-link {
    grid-area: supportLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Услуги*/
.footer__services-link {
    grid-area: servicesLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок О нас*/
.footer__about-us-header {
    grid-area: aboutUsHeader;
    @extend %H3;
    padding-top: 0.5rem;
}

/*ссылка О сервисе*/
.footer__about-service-link {
    grid-area: aboutServiceLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Наша команда*/
.footer__command-link {
    grid-area: commandLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Вакансии*/
.footer__vacancies-link {
    grid-area: vacanciesLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Инвесторы*/
.footer__investors-link {
    grid-area: investorsLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок Служба поддержки*/
.footer__support-header {
    grid-area: supportHeader;
    @extend %H3;
    padding-top: 0.5rem;
}

/*ссылка Соглашения*/
.footer__agreements-link {
    grid-area: agreementsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Сообщества*/
.footer__community-link {
    grid-area: communityLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Связь с нами*/
.footer__contact-link {
    grid-area: contactLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок Подписка*/
.footer__subscribe-header {
    grid-area: subscribeHeader;
    @extend %H3;
    padding-top: 0.5rem;
}

/*специальные предложения*/
.footer__subscribe-description {
    grid-area: subscribeDescription;
    @extend %Body;
    margin: -0.3rem 0 0 0;
    padding: 0;
}

/*текстовое поле со стрелкой*/
.footer__subscription-text-field {
    grid-area: subscribeInput;
    margin-top: 2.9rem;
}

/*элемент Все права защищены*/
.footer__copyright {
    padding: 0 14.2rem 0 14.1rem;
    display: flex;
    align-items: center;
    height: 7rem;
    order: 2;
}

/*Надпись Copyright...*/
.footer__copyright-span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.395rem;
    line-height: 1.7rem;
    color: rgba(31, 32, 65, 0.75);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

/*Обертка логотипа*/
.footer__logo-wrapper {
    width: 0;
    height : 0;
}