.filter_checked {
    border-color: #BC9CFF !important;
}

.filter_checked .filter__checkbox-checker {
    display: block;
}

.filter_checked .filter__rich-checkbox-checker {
    display: block;
}

.filter_checked .filter__expandable-checkbox-checker {
    display: block;
}