extends ../base/base



block title
    | Signin

block main
    .content-signin
        img(class="content-signin__img" src=require('./images/sign.jpg') alt="signin picture")
        include ../../components/enter-card/enter-card.pug