@import "../../theme/variables.css";

.content-signin {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-signin__img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -5em;
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 5em;
    }

    .content-signin .enter-card {
        font-size: 13px;
        width: 100%;
        border: 0;

        h1 {
            font-size: 23px;
        }

        h3 {
            font-size: 11px;
        }

        box-shadow: none;
    }

    .content-signin__img {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .enter-card {
        display: block;
        position: absolute;
    }
}
