.content_theme_enter {
    height: 68.3rem;
    background-image: url("./images/bed.jpg");
}

.content_theme_enter .search-room-card {
    display: none;
}

.content_theme_enter .content__span {
    display: none;
}

.content_theme_enter .registration-card {
    display: none;
}

.content_theme_enter .enter-card {
    display: block;
}
