include ../arrow-btn/arrow-btn
include ../button/button
include ../inpt/inpt

.enter-card
    h1 Войти
    form(enctype="multipart/form-data" method="GET")
        +inpt(type="email" placeholder="Email" name="email")
        +inpt(type="password" placeholder="Пароль"  name="password")
        +arrowBtn('Войти')(type="submit")
    div(class="enter-card__create")
        span(class="enter-card__create-account-span") Нет аккаунта на Toxin?
        +button('Создать', '/signup.html')(class="button_theme_enter button_size_m")