/*Главный блок*/
.enter-card {
    width: 27em;
    padding: 2.71em 2.14em 2.14em 2.05em;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 1.79em rgba(0, 0, 0, 0.2);
    border-radius: 0.29em;
    
    h1 {
        margin-bottom: 0.9em;
    }
    
    .inpt {
        margin-bottom: 0.71em;
    }
    
    .arrow-btn {
        margin: 0.8em 0 2.2em 0;
    }
    
    .arrow-btn__label {
        padding: 0 0 0 0.5em;   
    }
    @media screen and (max-width: 767px) {
        min-width: 100%;
        border: 0;
    }
}

/*блок для создания аккаунта*/
.enter-card__create {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0;
    padding: 0; 
}

/*Нет аккаунта на Toxin?*/
.enter-card__create-account-span {
    color: #000000;
}