//-кнопки для входа и регистрации / имя пользователя
div(class="header__authentication")
    span(class="header__user-name") Юлий Цезарь
    
    div(class="header__buttons")
        button(class="header__enter-button") Войти
        button(class="header__registration-button") Зарегистрироваться