.button_theme_registration {
    display: inline-block;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: #FFFFFF !important;
    border: none;
}

.button_theme_registration_clicked {
    opacity: 0.5;
}
