//-Главный блок
div(class="enter-card")
    h1(class="enter-card__header") Войти
    include ./__email-input/enter-card__email-input.pug
    include ./__password-input/enter-card__password-input.pug
    include ./__button-with-arrow/enter-card__button-with-arrow.pug
    div(class="enter-card__create-account")
        span(class="enter-card__create-account-span") Нет аккаунта на Toxin?
        include ./__click-button/enter-card__click-button.pug