include ../menu/menu
include ../button/button

//-
  options.menuItems - массив елементов меню

mixin header(options)
  if !options
    - options = {}

  .header
    a.header__logo(href = '/index.html')
      include ../logo/logo.pug
    .header__menu
      +menu({items: options.menuItems})
    .header__buttons
      +button('Войти', '/signin.html')(class="button_theme_enter button_size_s")
      +button('зарегистрироваться', '/signup.html')(class="button_theme_registration")