.header {
  display: flex;
  flex: 1 0 auto;
  height: 7rem;
  padding: 0 14.05rem 0 14.1rem;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
  font-size: 0.625rem;
  align-items: center;

  .header__menu {
    flex: 1 0 auto;
    padding-left: 1rem;
  }
}
