/*инпут*/
.inpt {
    @extend %Body;
    height: 4.4em;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.4em;
    box-sizing: border-box;
    padding-left: 1.3em;
    margin-bottom: 1em;
}

/*плэйсхолдер*/
.inpt::-webkit-input-placeholder {
    /* Chrome */
    line-height: 1.8em;
    color: rgba(31, 32, 65, 0.25);
}

/*плэйсхолдер*/
.inpt:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 1.8em;
    color: rgba(31, 32, 65, 0.25);
}

/*плэйсхолдер*/
.inpt:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 1.8em;
    color: rgba(31, 32, 65, 0.25);
}

/*инпут ховер*/
.inpt:hover {
    border: 1px solid rgba(31, 32, 65, 0.5);
}

/*плэйсхолдер при инпут ховер*/
.inpt:hover::-webkit-input-placeholder {
    /* Chrome */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут ховер*/
.inpt:hover:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут ховер*/
.inpt:hover:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

/*инпут фокус*/
.inpt:focus {
    border: 1px solid rgba(31, 32, 65, 0.75);
    outline: 0;
}

/*плэйсхолдер при инпут фокус*/
.inpt:focus::-webkit-input-placeholder {
    /* Chrome */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут фокус*/
.inpt:focus:-ms-input-placeholder {
    /* IE 10+ */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}

/*плэйсхолдер при инпут фокус*/
.inpt:focus:-moz-placeholder {
    /* Firefox 4 - 18 */
    line-height: 2.4em;
    color: rgba(31, 32, 65, 0.75);
}
