.carousel
    .carousel__window
        img(class="carousel__img" src="images/room888.jpg")
        img(class="carousel__img" src="images/sub1Room888.jpg")
        img(class="carousel__img" src="images/sub2Room888.jpg")
        img(class="carousel__img" src="images/room888.jpg")
    .carousel__buttons
        .carousel__switcher
            span(class="carousel__circle carousel__circle_active")
            span(class="carousel__circle")
            span(class="carousel__circle")
            span(class="carousel__circle")
        .carousel__arrow-right-wrapper
            span(class="carousel__arrow-right") keyboard_arrow_left
        .carousel__arrow-left-wrapper
            span(class="carousel__arrow-left") keyboard_arrow_left