table(class="info-card__calculations")
    tr
        td(colspan="2" class="info-card__first-td")
            span(class="info-card__money") 9 990
            | &#8381 x 
            span(class="info-card__amount-of-days") 4 
            span суток
        td(class="info-card__last-td")
            span(class="info-card__money-result") 39 960
            | &#8381
    tr
        td(class="info-card__discount-td")
            | Сбор за услуги: скидка 
            span(class="info-card__discount") 2179
            | &#8381
        td(class="info-card__badge-info-td")
            div(class="info-card__badge-info") i
        td(class="info-card__last-td")
            span(class="info-card__discount-result") 0
            | &#8381
    tr
        td(class="info-card__charges") Сбор за дополнительные услуги
        td
            div(class="info-card__badge-info") i
        td(class="info-card__last-td3")
            span(class="info-card__discount-result") 300
            | &#8381
    tr
        td(colspan="3")
            div(class="info-card__calculations-result")
                span Итого
                span(class="info-card__line")
                span(class="info-card__total") 38 081
                | &#8381
