@import "../../../theme/variables.css";

.info-card__calculations {
    width: 100%;
    margin-bottom: 1.8em;
}

.info-card__money-per-day {
    display: inline-block;
    height: 2.7em;
}

.info-card__discount-td {
    height: 3.2em;
    width: 21.4em;
    text-align: left;
}

.info-card__calculations-result {
    @extend %H2;
    display: flex;
    align-items: flex-end;
    height: 4.7em;
}

.info-card__calculations-result {
    flex-shrink: 0;
}

.info-card__line {
    width: 100%;
    height: 0.8em;
    border-top: 1px dashed rgba(31, 32, 65, 0.25);
    margin: 0 15px 0 15px;
}

.info-card__badge-info {
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
    cursor: pointer;
    border-radius: 50%;
}

.info-card__last-td, .info-card__last-td3 {
    padding: 0;
    text-align: right;
    vertical-align: center;
}

.info-card__last-td3 {
    vertical-align: top;
}

.info-card__charges {
    line-height: 1.8em;
    height: 4.3em;
}