@import "../../../theme/variables.css";

.info-card__calculations {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    td {
        vertical-align: top;
    }
}

.info-card__first-td {
    height: 2.5em;
}

.info-card__discount-td {
    height: 2.5em;
    width: 15.52em;
    text-align: left;
}

.info-card__calculations-result {
    @extend %H2;
    display: flex;
    align-items: flex-end;
    height: 2.5em;
    flex-shrink: 0;
}

.info-card__line {
    width: 100%;
    height: 0.3em;
    border-top: 1px dotted rgba(31, 32, 65, 0.25);
    margin: 0 0.3em 0 0.3em;
}

.info-card__badge-info {
    width: 1.43em;
    height: 1.43em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(31, 32, 65, 0.25);
    color: rgba(31, 32, 65, 0.25);
    cursor: pointer;
    border-radius: 50%;
}

.info-card__discount {
    white-space: nowrap;
}

.info-card__last-td, .info-card__last-td3 {
    padding: 0;
    text-align: right;
    vertical-align: center;
}

.info-card__last-td3 {
    vertical-align: top;
}

.info-card__charges {
    line-height: 1.29em;
    height: 3.07em;
}


.info-card__total {
    white-space: nowrap;
    font-size: 1.13em;
    margin-right: -0.45em;
}
