//-поле инпут со стрелкой
div(class="footer__subscription-text-field")
    input(class="footer__subscription-input" type="email" placeholder="Email")
    
    div(class="footer__subscription-arrow-wrapper")
        button(class="footer__subscription-arrow" type="button") arrow_forward