@import "../../theme/variables.css";

/*главный блок*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .arrow-inpt {
        grid-area: subscribeInput;
        margin-top: 2.5em;
    }
}

.footer__logo-wrapper {
    width: 0;
    height: 0;
}

/*навигационное меню*/
.footer__nav {
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    padding: 7.07em 10em 6em 9.9em;
    display: grid;
    /*grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;*/
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2.6em 2.64em 2.71em 2.71em 2.71em;
    grid-template-areas:
        "logo navHeader aboutUsHeader supportHeader subscribeHeader"
        "best aboutUsLink aboutServiceLink agreementsLink subscribeDescription"
        "best newsLink commandLink communityLink subscribeInput"
        "best supportLink vacanciesLink contactLink subscribeInput"
        "best servicesLink investorsLink contactLink subscribeInput";
    align-items: center;

    a:hover {
        color: rgba(31, 32, 65, 0.75);
        ;
    }
}

/*логотип*/
.footer__logo {
    grid-area: logo;
    align-self: start;
    justify-self: start;
}

/*описание отеля по версии ассоциации "Отельные взгляды"*/
.footer__best-hotel {
    grid-area: best;
    margin: 0;
    padding: 1.5em 1.43em 0 0;
}

/*Заголовок Навигация*/
.footer__nav-header {
    grid-area: navHeader;
    padding-top: 0.36em;
}

/*ссылка О нас*/
.footer__about-us-link {
    grid-area: aboutUsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Новости*/
.footer__news-link {
    grid-area: newsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Служба поддержки*/
.footer__support-link {
    grid-area: supportLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Услуги*/
.footer__services-link {
    grid-area: servicesLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок О нас*/
.footer__about-us-header {
    grid-area: aboutUsHeader;
    padding-top: 0.41em;
}

/*ссылка О сервисе*/
.footer__about-service-link {
    grid-area: aboutServiceLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Наша команда*/
.footer__command-link {
    grid-area: commandLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Вакансии*/
.footer__vacancies-link {
    grid-area: vacanciesLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Инвесторы*/
.footer__investors-link {
    grid-area: investorsLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок Служба поддержки*/
.footer__support-header {
    grid-area: supportHeader;
    padding-top: 0.36em;
}

/*ссылка Соглашения*/
.footer__agreements-link {
    grid-area: agreementsLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Сообщества*/
.footer__community-link {
    grid-area: communityLink;
    text-decoration: none;
    @extend %nav;
}

/*ссылка Связь с нами*/
.footer__contact-link {
    grid-area: contactLink;
    text-decoration: none;
    @extend %nav;
}

/*Заголовок Подписка*/
.footer__subscribe-header {
    grid-area: subscribeHeader;
    padding-top: 0.36em;
}

/*специальные предложения*/
.footer__subscribe-description {
    grid-area: subscribeDescription;
}

/*элемент Все права защищены*/
.footer__copyright {
    padding: 0 10.14em 0 9.9em;
    display: flex;
    align-items: center;
    margin-top: 1px;

    @media screen and (min-width: 768px) {
        height: 4.95em;
    }
}

/*Надпись Copyright...*/
.footer__copyright-span {
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1em/1.21em;
    color: rgba(31, 32, 65, 0.75);
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

@media screen and (max-width: 767px) {
    .footer {
        .footer__nav {
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            overflow: hidden;
            box-shadow: none;
        }

        .footer__copyright {
            padding: 8.55em 0.71em 8em 0.71em;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .footer__icons {
            margin: 0;
        }

        .footer__logo-wrapper {
            width: auto;
            height: auto;
        }

        .footer__copyright-span {
            margin: 1.4em 0 1.4em 0;
            box-shadow: none;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .footer__nav {
        padding: 7.07em 10px 6em 10px;
    }

    .footer__copyright {
        padding: 0 10px 0 10px;
    }
    
    .footer__support-header {
        padding-right: 1em;
    }
    
    .footer__support-link {
        padding-right: 1em;
        line-height: 1em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .footer__nav {
        padding: 7.07em 3em 6em 3em;
    }

    .footer__copyright {
        padding: 0 3em 0 3em;
    }
    
    .footer__support-header {
        padding-right: 1em;
    }
    
    .footer__support-link {
        padding-right: 1em;
        line-height: 1em;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .footer__support-header {
        padding-right: 1em;
    }
    
    .footer__support-link {
        padding-right: 1em;
        line-height: 1em;
    }
}
