//-Поле для количества гостей с выпадающем меню
div(class="drop-beds")
    h3(class="drop-beds__label") удобства номера
    div(class="drop-beds__dropdown")
        div(class="drop-beds__switcher")
            span 2 спальни, 2 кровати...
            span(class="drop-beds__arrow") keyboard_arrow_down
        div(class="drop-beds__inputs")
            div(class="drop-beds__input")
                span(class="drop-beds__input-label") Спальни
                span(class="drop-beds__minus") -
                span(class="drop-beds__number") 2
                span(class="drop-beds__plus") +
                
            div(class="drop-beds__input")
                span(class="drop-beds__input-label") Кровати
                span(class="drop-beds__minus") -
                span(class="drop-beds__number") 2
                span(class="drop-beds__plus") +
                
            div(class="drop-beds__input")
                span(class="drop-beds__input-label") Ванные комнаты
                span(class="drop-beds__minus") -
                span(class="drop-beds__number") 0
                span(class="drop-beds__plus") +
        