@import "../../theme/variables.css";

.room {
    max-width: 100%;
    width: 19.2em;
    background-color: #FFFFFF;
    border-radius: 0.29em;
    box-shadow: 0px 0.71em 1.43em rgba(31, 32, 65, 0.05);
}

/*блок элемента*/
.room__about-room {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 1.36em 0.57em 1.43em;
    border-bottom: 1px solid rgba(31, 32, 65, 0.1);
    padding-bottom: 0.64em;
}

/*значок №*/
.room__badge-number {
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.21em;
    color: #1F2041;
}

/*номер комнаты*/
.room__room-number {
    @extend %H2;
    font-size: 1.55em;
}

/*категория комнаты (люкс)*/
.room__room-category {
    @extend %H3;
    color: #BC9CFF;
}

/*цена*/
.room__money-for-room {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.29em;
    color: rgba(31, 32, 65, 0.5);
}

/*за какое время (сутки)*/
.room__time {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 0.86em;
    line-height: 1.5em;
    color: rgba(31, 32, 65, 0.5);
}


/*блок-обертка для звезд и отзывов(кол-во)*/
.room__rate-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.29em;
    padding: 0 1.36em 0 1.43em;
    color: rgba(31, 32, 65, 0.5);
}

/*span с количеством отзывов*/
.room__comments-amount {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .room {
        width: 100%;
        border: 1px solid rgba(31, 32, 65, 0.15);

        .carousel {
            width: 100%;
            height: auto;
            grid-area: img;
        }

        .carousel__window {
            width: 100%;
            height: auto;
        }

        .carousel__img {
            width: 100%;
            height: auto;
        }

        .room__about-room {
            border-bottom: 0;
            margin: 0;
            padding: 0 0.5em 0 0.5em;
        }

        .room__badge-number {
            display: none;
        }

        .room__time {
            display: none;
        }

        .room__rate-wrapper {
            padding: 0 0.5em 0 0.5em;

            .rate__star1,
            .rate__star2,
            .rate__star3,
            .rate__star4,
            .rate__star5 {
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .room__rate-wrapper {
        padding: 0 0.5em 0 0.5em;

        .rate__star1,
        .rate__star2,
        .rate__star3,
        .rate__star4,
        .rate__star5 {
            font-size: 20px;
        }
    }
}
