.li {
    font-weight: normal;
    list-style-type: none;
    display: flex;
    align-items: baseline;
}

.li__marker {
    width: 0.71em;
    height: 0.71em;
    border-radius: 50%;
    background-color: rgba(31, 32, 65, 0.25);
    margin-right: 0.71em;
    flex-shrink: 0;
}