div(class="filter__rich-checkbox")
    form(class="filter__rich-checkbox-form" name="filterRichCheckboxForm")
        input(type="checkbox" name="filterRichCheckboxCorridor")
        input(type="checkbox" name="filterRichCheckboxHelper")
        
    h3(class="filter__rich-checkbox-label") доступность
    table(class="filter__rich-checkbox-checkboxes")
        tr(class="filter__corridor-tr")
            td
                div(class="filter__rich-checkbox-corridor")
                    div(class="filter__rich-checkbox-checker")
            td(class="filter__rich-checkbox-label") Широкий коридор
        tr(class="filter__corridor-tr")
            td
            td(class="filter__rich-checkbox-description") Ширина коридоров в номере не менее 91 см.
            
        tr(class="filter__helper-tr")
            td
                div(class="filter__rich-checkbox-helper")
                    div(class="filter__rich-checkbox-checker")
            td(class="filter__rich-checkbox-label") Помощник для инвалидов
        tr(class="filter__helper-tr")
            td
            td(class="filter__rich-checkbox-description") На первом этаже вас встретит специалист и проводит до номера.
