/*блок элемента*/
.toggle {
    box-sizing: border-box;
}

.toggle__checkbox {
    display: none;
}

/*наружняя часть переключателя*/
.toggle__btn {
    display: inline-block;
    width: 2.86em;
    /* ширина */
    height: 1.43em;
    /* высота */
    border-radius: 0.71em;
    /* радиус скругления */
    z-index: 0;
    background-color: #FFFFFF;
    padding: 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms;
    /* анимация */
}

/*внутренняя часть переключателя*/
.toggle__btn::after {
    content: "";
    height: 0.86em;
    /* высота кнопки */
    width: 0.86em;
    /* ширина кнопки */
    border-radius: 50%;
    top: 15%;
    /* положение кнопки по вертикали относительно основы */
    left: 10%;
    /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms;
    /* анимация */
    position: absolute;
    z-index: 1;
    background-color: rgba(31, 32, 65, 0.25);
}
