extends ../base/base



block title
    | Signup

block main
    .content-signup
        img(class="content-signup__img" src=require('./images/reg.jpg') alt="signup picture")
        include ../../components/registration-card/registration-card.pug