doctype html
html
    head
        meta(charset="utf-8")
        title Toxin
        script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js" integrity="sha512-sM9DpZQXHGs+rFjJYXE1OcuCviEgaXoQIvgsH7nejZB64A09lKeTU4nrs/K6YxFs6f+9FF2awNeJTkaLuplBhg==" crossorigin="anonymous")
    body
        //--div(style="width: 1440px; min-height: 100vh; background-color: red;")
        div(id="root")
            include ./components/header/header.pug
            include ./components/content/content.pug
            include ./components/footer/footer.pug
