div(class="registration-card__toggle")
    div(class="registration-card__toggle-wrapper")
        div(class="registration-card__toggle-btn")
        span(class="registration-card__toggle-btn-label") Получать спецпредложения