//-поля прибытия/выезда
div(class="search-room-card__dropdown-dates")
    //-поле даты прибытия
    div(class="search-room-card__dropdown-arrival")
        h3(class="search-room-card__dropdown-arrival-label") Прибытие
        div(class="search-room-card__dropdown-arrival-switcher")
            span ДД.ММ.ГГГГ
            div(class="search-room-card__dropdown-arrival-arrow-wrapper")
                span(class="search-room-card__dropdown-arrival-arrow") keyboard_arrow_down
    //-поле даты выезда           
    div(class="search-room-card__dropdown-departure")
        h3(class="search-room-card__dropdown-departure-label") Выезд
        div(class="search-room-card__dropdown-departure-switcher")
            span ДД.ММ.ГГГГ
            div(class="search-room-card__dropdown-departure-arrow-wrapper")
                span(class="search-room-card__dropdown-departure-arrow") keyboard_arrow_down
        