//-кнопка со стрелкой
button(class="search-room-card__button-with-arrow search-room-card__button-with-arrow_theme_one") 
    span(class="search-room-card__button-with-arrow-label") Подобрать номер
    span(class="search-room-card__button-arrow" type="button") arrow_forward