mixin slider()
    .slider
        .slider__header
            h3 диапазон цены
            .slider__indicator
        input.slider__input&attributes(attributes)
        .slider__div Стоимость за сутки пребывания в номере